.fadeOut{
    opacity: 0;
}

html{
    font-size: 12px;
}

body{
    background: #bed3d8;
    font-family: 'Oxygen', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

h1{
    text-align: center;
    letter-spacing: -8px;
    font-size: 6em;
}

#upperHeading{
    font-size: 1.1em;
}

header button{
    margin: auto;
    background: white;
    border-radius: 3px;
    border: none;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 10px 20px;
}

main{
    max-width: 500px;
    margin: auto;
}

/* displayRandom Styling */

.displayRandomWrapper{
    transition: 650ms;
}

.headingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

h2{
    font-size: 1em;
    margin: 0;
    padding: 8px;
    margin: 5px;
}

.headingWrapper h3{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px;
    margin: 5px;
}

.readMoreRandomButtonWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    
}

.readMoreRandomButtonWrapper button{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding: 0px 20px;
    height: 30px;
    transition: 300ms;
}

.readMoreRandomButtonWrapper button:hover{
    background-color: rgba(255, 255, 255, 0.95);
}

.cookingIngredients{
    display: flex;
}

#ingredients{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#measures{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* displayRandomReadMore Styling */

.randomReadMoreUnderline{
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
}

.randomReadMoreCategory{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
}

.randomReadMoreCategory button{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    font-size: 0.6em;
    padding: 0px 20px;
    height: 30px;
    transition: 300ms;
}

.randomReadMoreCategory button:hover{
    background-color: rgba(255, 255, 255, 0.95);
}